.section-form {
  
  padding-bottom: 3rem;
  padding-top: 2rem;
  h2 {
    color: $primary;
  }
  h3 {
    font-family: toyotadisplay_bd;
  }
  h6 {
    font-family: toyotadisplay_rg;
    font-size: 12px;
    margin-bottom: 0rem;
    color: #666;
  }
  p {
    color: #666;
    line-height: 0.9rem;
    text-align: justify;
  }
  a {
    color: $primary;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
    &.btn-primary{
      color: $white;
      &:hover{
        text-decoration: none;
      }
    }
  }
  [type="submit"] {
    margin: 2.5rem 0 2rem
  }
  .form-check-label {
    margin: 0 .5rem;
    font-family: toyotadisplay_bd;
  }
  .form-check-inline {
    margin-left: .25rem;
    // .invalid-feedback {
    //   margin-top: -1.5rem;
    // }
  }
  .form-check-input{
    &:after {
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 25px;
      top: -.25rem;
      left: -.25rem;
      position: relative;
      background-color: white;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 2px solid $primary;
    }
    &:checked{
      &:before {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 25px;
        top: 0.2rem;
        left: 0rem;
        position: absolute;
        background-color: $black;
        content: "";
        display: block;
        visibility: visible;
        z-index: 9999;
      }
    }
    &.checkbox{
      margin-left: -1rem;
      &:after {
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 0;
        top: -.25rem;
        left: -.25rem;
        position: relative;
        background-color: $white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid $gray-400;
      }
      &:checked{
        &:before {
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 0;
          top: 0rem;
          left: 0rem;
          position: absolute;
          background-color: $black;
          content: '';
          display: block;
          visibility: visible;
          z-index: 9999;
        }
      }
    }
  }
}

.response-message{
  .message{
    display: none;
    font-size: 1.5rem;
    padding: 2rem 0;
    font-family: toyotadisplay_bd;
    &.request-success {
      p {
        font-size: 12px;
        text-align: center;
        font-family: toyotadisplay_rg;
        line-height: 1.5rem;
      }
    }
  }
}
