/* GALLERY */

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #191a1e;
  z-index: 10000;
  cursor: pointer;
}

.carousel-item {
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
  }
}

#gallery1, #gallery2, #gallery3, #gallery4 {
  width: 100%;
}

.section-gallery img:hover {
  cursor: pointer;
}
