/* NON CRITICAL */
body {
  font-family: 'toyotadisplay_rg';
}
/* -- Hero -- */
@media (min-width: 1200px) {
  .hero-title h1 {
    font-size: 3rem;
  }
  .hero-title h2 {
    font-size: 2rem;
  }
  .hero-text {
    font-size: 1.8rem;
  }
  .hero-ribbon h3 {
    font-size: 2.2rem;    
  }
  .hero-ribbon:after {
    right: -6rem;
    border-right-width: 6rem;
    border-top-width: 6rem;
  }
  .hero-ribbon:before {
    border-bottom-width: 6rem;
  }
  .hero-notice {
    font-size: 2rem;
    line-height: 4rem;
  }
  .main-text {
    font-size: 1.5rem;
  }
}
/* -- /Hero -- */


.form-check-inline {
  display: inline !important;
}

.no-padding {
  padding: 0;
}

.padding-1 {
  padding: 20px;
}

.padding-top-1 {
  padding-top: 20px;
}

.padding-bottom-1 {
  padding-bottom: 20px;
}

.padding-bottom-2 {
  padding-bottom: 40px;
}

.background-grey {
  background-color: #f5f6f6;
}

.background-darkgrey {
  background-color: #e3e3e3;
}

.date-grey {
  background-color: #dfe0e0;
  text-align: center;
  padding: 5px;
  width: 100%;
}

.date-white {
  background-color: #eaebeb;
  text-align: center;
  padding: 5px;
  width: 100%;
}

.cta-holder {
  position: relative;
  display: inline-block;
  width: auto;
  background-color: #ce232e;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  font-family: 'toyotadisplay_bd';
}

.title2 {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.tick {
  padding-right: 10px;
}

.social {
  cursor: pointer;
  padding-right: 5px;
}

.herotext {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  top: 15%;
}

#page-title {
  &:before {
    position: absolute;
    left: -1000px;
    background: #009fe3;
    content: ".";
    font-size: 30px;
    padding: 5px;
    top: 0;
    width: 1000px;
  }
  font-family: 'toyotadisplay_bd';
  font-size: 30px;
  /* letter-spacing: 5px; */
  /* font-style: italic; */
  /* padding: 5px 0 5px 0; */
  color: #fff;
  background: #fff;
  padding: 5px 30px 5px 60px;
  position: absolute;
  top: 40px;
  margin: 0;
}

#car-description h6 {
  text-align: left;
}

h4.legal-text {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0 !important;
  font-size: 16px;
}

p.legal-text {
  text-align: justify;
  font-size: 11px;
}

a {
  color: #333;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

li {
  font-size: 16px !important;
}


.visual-header {
  margin-bottom: 20px;
}

strong {
  font-family: toyotadisplay_bd;
}

abbr[title], acronym[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

/*==========  content  ==========*/

.wrap {
  display: block;
}

h2 .highlight {
  display: block;
  color: #009fe3;
  margin-top: .5rem;
}

h2 .bonus-label {
  display: block;
  color: #009fe3;
  background: #009fe3;
  color: #fff;
  display: inline-block;
  line-height: 2rem;
  position: relative;
  margin: 0 10px 0 -10px;
  padding: 0 10px;
  height: 2rem;
  text-transform: uppercase;
  font-family: toyotadisplay_rg;
  &:before {
    left: -10px;
    position: absolute;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 2rem solid #009fe3;
    content: '';
  }
  &:after {
    right: -10px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 10px solid transparent;
    border-top: 2rem solid #009fe3;
    content: '';
  }
}

.box-container {
  display: table;
  width: 100%;
  height: 440px;
  background-color: #f5f6f6;
  margin: 0 auto;
  position: relative;
  /*cursor: pointer;*/
  h2 {
    font-family: toyotadisplay_bd;
    margin: 0 !important;
    margin-bottom: 0.5em !important;
    line-height: 1.2rem;
    font-size: 1.2rem;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  img {
    transition: all .4s ease-in-out;
  }

}

/*
.box-container:last-of-type {
    margin-bottom: 0;
}
*/

body.mobile .box-container {
  cursor: default;
}

body.desktop .box-container:hover {
  img {
    transform: scale(1.1);
  }
  .element-text {
    background-image: none;
  }
  background-color: #009fe3;
  color: #fff;
  cursor: pointer;
  .cta-content {
    visibility: visible;
    opacity: 1;
  }
  .text-content {
    visibility: hidden;
    opacity: 0;
  }
}

.cta-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.text-content {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  .text {
    font-size: 0.8rem;
  }
  h2{
    .wrap {
      line-height: 2rem;
    }
  }
}

.box-element {
  width: 350px;
  height: 272px;
  overflow: hidden;
  display: table-cell;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.element-text {
  vertical-align: middle;
  .wrapper {
    text-align: left;
    padding: 5px 30px;
  }
}
.element-visual {
  .wrapper {
    height: 100%;
    width: 100%;
  }
}

.box-container.static img {
  transition: none;
}

body.desktop .box-container.static:hover {
  img {
    transform: none;
  }
  .element-text {
    background-color: #f5f6f6;
    color: #333;
  }
  background-color: #f5f6f6;
  .text-content {
    visibility: visible;
    opacity: 1;
  }
}

.box-container.static .element-text {
  background-image: none;
}

.summary-price {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
  .price {
    font-size: 20px;
    line-height: 20px;
    font-family: toyotadisplay_bd;
  }
}

.webp .summary-finance {
  background-image: url(../images/small/pay-per-drive.webp);
}

.no-js .summary-finance, .no-webp .summary-finance{
  background-image: url(../images/small/pay-per-drive.png);
}

.summary-finance{
  background-repeat: no-repeat;
  background-position: right;
  margin: 1rem 0;
  padding-right: 40px;
  font-size: 0.8rem;
  strong {
    color: #009fe3;
  }
}

.summary-rate {
  font-family: toyotadisplay_bd;
}

.cta-xs {
  text-transform: uppercase;
  color: #e00037;
  font-family: toyotadisplay_bd;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  cursor: pointer;
  display: none;
  padding-left: 30px;
}

body.mobile .cta-xs {
  display: block;
}

.cta-xs:hover {
  text-decoration: underline;
}

.cta-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #009fe3;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  h2 {
    white-space: nowrap;
    text-transform: uppercase;
  }
}

.btn-circle {
  font-size: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 100%;
    display: block;
    margin-top: 8px;
  }
}

.cta-petrol {
  display: block;
  margin: 20px 0;
  font-family: toyotadisplay_bd;
  a {
    color: rgb(0, 160, 250);
  }
}

.btn-legal {
  margin: 1.5rem 0 2rem;
}

.footer-legal-links {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    float: left;
    padding-right: 24px;
    a {
      font-size: 11px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.webp .scroll-to-top {
  background: url(../images/scroll-to-top.webp) no-repeat;
}

.no-js .scroll-to-top, .no-webp .scroll-to-top {
  background: url(../images/scroll-to-top.png) no-repeat;
}

.scroll-to-top {
  position: fixed;
  cursor: pointer;
  width: 55px;
  height: 55px;
  bottom: 1em;
  right: 1em;
  display: none;
  z-index: 999;
}

@media only screen and (max-width: 1200px) {
  .box-container {
    width: auto;
    height: 272px;
  }
}

@media screen and (max-width: 700px) {
  .box-element {
    display: block;
  }
  .box-container {
    display: block;
    width: 350px;
    height: 544px;
    margin: 30px auto;
  }
  .element-text .wrapper {
    margin-top: 1rem;
  }
  body.mobile {
    .element-text .wrapper {
      margin-top: 0.5rem;
    }
    .box-container.static .element-text .wrapper {
      margin-top: 1rem;
    }
  }
  .revert {
    .box-element {
      position: absolute;
    }
    .element-visual {
      bottom: 0;
    }
  }
}

@media screen and (max-width: 380px) {
  .box-container, .box-element {
    width: 100%;
  }
  .element-text .wrapper {
    padding: 5px;
  }
  .cta-xs {
    padding-left: 5px;
  }
  .box-element img {
    width: auto;
  }
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
  margin: auto;
  display: block;
  max-width: 75%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}


@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}


/* The Close Button */

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  &:hover, &:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
@media only screen and (min-width: 1201px) {
  .element-text .wrapper {
    padding: 0 4rem;
    font-size: 120%;
  }
  .cta-xs {
    padding-left: 4rem;
  }
  .webp .summary-finance {
    background-image: url(../images/medium/pay-per-drive.webp);
  }
  .no-js .summary-finance, .no-webp .summary-finance{
    background-image: url(../images/medium/pay-per-drive.png);
  }
  h2 {
    .bonus-label {
      margin-top: .5rem;
      line-height: 3rem;
      height: 3rem;
      &:before {
        border-bottom-width: 3rem;
      }
      &:after {
        border-top-width: 3rem;
      }
    }
  }
  .box-container h2 {
    font-size: 1.5rem;
  }
  .summary-price {
    font-size: 1.5rem;
    .price {
      font-size: 1.5rem;
    }
  }
  .summary-finance {
    margin:0;
    padding: 1.5rem 0;
    font-size: 1rem;
  }
  .text-content .text {
    padding: 1.5rem 0;
    font-size: 1rem;
  }
}

.legal-section {
  padding: 2rem;
  padding-top: 3rem;
}

.section-heading {
  padding: 2rem 0 1rem;
  font-family: toyotadisplay_bd;
  text-transform: uppercase;
}


/* HACK OBJECT-FIT */
.compat-object-fit {
  background-size: cover;
  background-position: center center;
  img {
    opacity: 0;
  }
  &.hero-background {
    img {
      opacity: 1;
    }
    .background {
      opacity: 0;
    }
  }
}
