@charset "UTF-8";
@font-face{
    font-family:toyotadisplay_bd;
    src:url("../fonts/toyota-display/toyotadisplay_bd.eot");
    src:url("../fonts/toyota-display/toyotadisplay_bd.eot?#iefix") format("embedded-opentype"),url("../fonts/toyota-display/toyotadisplay_bd.woff2") format("woff2"),url("../fonts/toyota-display/toyotadisplay_bd.woff") format("woff"),url("../fonts/toyota-display/toyotadisplay_bd.ttf") format("truetype"),url("../fonts/toyota-display/toyotadisplay_bd.svg") format("svg")
}
@font-face{
    font-family:toyotadisplay_rg;
    src:url("../fonts/toyota-display/toyotadisplay_rg.eot");
    src:url("../fonts/toyota-display/toyotadisplay_rg.eot?#iefix") format("embedded-opentype"),url("../fonts/toyota-display/toyotadisplay_rg.woff2") format("woff2"),url("../fonts/toyota-display/toyotadisplay_rg.woff") format("woff"),url("../fonts/toyota-display/toyotadisplay_rg.ttf") format("truetype"),url("../fonts/toyota-display/toyotadisplay_rg.svg") format("svg")
}
